[Desktop Entry]
Comment=
Exec=immunity firefox -a immunity
GenericName=
Name=Immunity
Type=Application
Icon=package_network
Categories=Network;WebBrowser;
