Source: immunity
Section: net
Priority: optional
Maintainer: Torsten Werner <twerner@debian.org>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 5), cdbs, python-support, python-all-dev,
 libcap2-dev, aufs-modules, aufs-tools

Package: immunity
Architecture: any
Depends: ${misc:Depends}, acl, adduser, ${python:Depends}, ${shlibs:Depends}
Suggests: ipmasq
Description: Execute your browser in a secure container
 Immunity runs your browser in a secure container.
